canvas {
        width: 100%;
        height: window.innerHeight;
        background: black;
}
.container {
        width: 100%;
        margin:0 auto;
        background: black;
        top: 0px;
}

.question {
        color: white;
}
